body {
  margin: 0;
  background: #f4f7fb;
  font-family: Inter, sans-serif;
}

/* ORG NODE */
.org-node {
  background: white;
  border-radius: 12px;
  padding: 10px 14px;
  width: 210px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: transform 0.2s;
}
.org-node:hover { transform: scale(1.03); }

.org-node.active { border: 2px solid #4f46e5; }

.status {
  font-size: 10px;
  color: green;
}

.content {
  display: flex;
  gap: 10px;
  align-items: center;
}

.title { font-weight: 600; }
.subtitle { font-size: 12px; color: gray; }

.add-btn {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #22c55e;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

/* GROUP */
.group-node {
  width: 100%;
  height: 100%;
  border: 2px dashed #d946ef;
  border-radius: 16px;
  background: rgba(217,70,239,0.05);
}

.group-title {
  background: white;
  padding: 6px 12px;
  display: inline-block;
  margin: -14px 0 0 14px;
  font-weight: 600;
}
.floating-btn, .floating-btn-role {
  position: absolute;
  right: 20px;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 16px;
  font-size: 14px;
  cursor: pointer;
  top:10px;
}
.floating-btn-role {
  top:10px;
  right: 140px;
}
.react-flow__attribution {
  display: none !important;
}
.root{
  background-color: #dfd7d1;
}

